#navroutes{
    align-items: flex-end;
}
#navbarNavAltMarkup{
    align-items: flex-end;
}
body{
    background-color: black;
    font-family: 'Bree Serif', serif;
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Raleway', sans-serif;
}
#header{
    color: white;
    text-decoration-color: white;
    position:fixed;
    width: 100%;
    top:0px;
    z-index: 1;
    margin-bottom: 50px;
    display: block;
}
/* a:hover{
    background-color:#aaa;
    color:white;
} */
/* a:active{
    background-color:#000;
    color:white;
} */
.underline {
    display: inline-block;
    position: relative;
}

.act {
    text-decoration: 0.5px underline;
    text-underline-offset: 6px;
}
.underline::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 3.8px;
    left: 7px;
    right: 6.2px;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.class4{
    color: white;
    margin-top: 150px;
    display: flex;
    width: 80%;
    margin-bottom: 150px;
}
.class4a{
    width: 40%;
    margin-right: 100px;
}
.class4b{
    width: 40%;
    margin: 50px;
    right: 0px;
    margin-left: 100px;
}
#propic{
    width: 450px;
    height: 550px;
    right: 0px;
}
p{
    margin-top: 10px;
}
.content{
    margin-top: 40px;
    font-size: 1.1em;
}
.contacts{
    color: white;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 25px;
}
#indivicon1{
    margin-right: 6px;
    margin-top: 0px;
    color: white
}
#indivicon2{
    margin-left: 6px;
    margin-top: 0px;
    color: white
}
#indivicon1:hover{
     cursor: pointer;
     color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}
#indivicon2:hover{
     cursor: pointer;
     color: rgba(255, 255, 255, 0.6);
    transition: 0.15s ease-in-out;
}
a{
    text-decoration: none;
}
#ftext{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 7px;
}
 @media (max-width: 1399px){
    .class4{
        color: white;
        margin-top: 150px;
        display: flex;
        /* flex-wrap: wrap; */
        width: 90%;
        margin-bottom: 150px;
    }
    .class4a{
        width: 45%;
        margin-right: 80px;
    }
    .class4b{
        width: 45%;
        margin: 50px;
        right: 0px;
        margin-left: 80px;
    }
    @media (max-width: 1199px){
        .class4{
            color: white;
            margin-top: 150px;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin-bottom: 150px;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        .class4a{
            width: 100%;
            margin-left: 15%;
            margin-right: 15%;
            /* margin-right: 80px; */
        }
        .class4b{
            width: 100%;
            /* margin: 50px; */
            
            margin-left: 15%;
            margin-right: 15%;
        }
    }
    @media (max-width: 769px){
        .class4a{
            width: 100%;
            margin-left: 5%;
            margin-right: 5%;
            /* margin-right: 80px; */
        }
        .class4b{
            width: 100%;
            /* margin: 50px; */
            
            margin-left: 5%;
            margin-right: 5%;
        }
        #propic{
            width: 350px;
            height: 440px;
            /* right: 0px; */
        }
    }
    @media (max-width: 499px){
        #propic{
            width: 200px;
            height: 260px;
            /* right: 0px; */
        }
    }
 }